.question-container {
    display: flex;
    flex-direction: column;
    padding-left: 300px;
    margin-top: 55px;
    margin-right: 190px;
}

.question {
     font-weight: 600;
     font-size: 23px;
     margin-bottom: 30px;
     color: #827e7e
}

.answer {
    color: white;
    font-size: 18px;
    gap: 100px;

}

.faq-title {
    display: flex;
    justify-content: center;
    color: white;
    font-family: 'League Spartan', sans-serif;
    font-size: 40px;
    margin-top: 170px;

}

